input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=text]:focus {
    background-color: lightblue;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password]:focus {
    background-color: lightblue;
  }


h1{
    font-weight: normal;

}

button{
    position: static;
}

button:hover{
    transform: scale(1.1);
}

input:hover{
    transform: scale(1.1);
}

.form-container{
    display:flex;
    justify-content: center;
}

header{
    display:flex;
    justify-content: center;
}

.submit-button{
    margin-left: 5px;
    margin-right: 10px;
}

