.input-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .input-text:focus {
    background-color: lightblue;
  }

 .user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
 }

 .input-password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .input-password:focus {
    background-color: lightblue;
  }


h1{
    font-weight: normal;

}

button{
    position: static;
}

button:hover{
    transform: scale(1.1);
}

input:hover{
    transform: scale(1.1);
}

.form-container{
    display:flex;
    justify-content: center;
}

.form-group{
    margin-top: 10px;
}

header{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.submit-button{
    margin-left: 5px;
    margin-right: 10px;
}

main{
  max-width: 580px;
  width: 100%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}
