*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, #4b4949, #000000);
}

h2{
  position: relative;
  font-weight: normal;
  display: flex;
  justify-content: center;
  font-family: 'Playfair', serif;
  font-size: 50px;
  margin-bottom: 70px;
}

h2::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    cursor: pointer;
    width: 100px; 
    height: 100px; 
}

.cart-icon{
  content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    cursor: pointer;
    width: 100px; 
    height: 100px;
}

.button-back {
    display: flex;
    justify-content: center;
  }

  section {
    color: white;
    border: 1px solid;
    background-image: linear-gradient(90deg, #3446e6 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

  section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
  }

  section div img{
    display: flex;
    margin: auto;
  }

  section div ul li {
    align-items: center;
  }
  
  ul{
    list-style-type: none;
  }

  ul li{
    margin-bottom: 20px;
  }
  
.btn-add-cart{
  margin-left: 10px;
  display: flex;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.btn-add-cart{
  margin:auto;
}

.button-back{
  margin: auto;
}